##Theoritical Questions

Question 1. What are data structures, and why are they important ?

Answer. A data structure is a way of organizing, storing, and managing data in a language so that it can be accessed and modified efficiently. It defines the relationship between the data, operations that can be performed on them, and how they are stored in memory.

Question 2. Explain the difference between mutable and immutable data types with examples ?

Answer. Mutable data type is a type of data which can be changed or modified after define it. example of mutable data type is list, dictionary.

Immutalbe data type is a type of data which can't be changed according to our need . Example of immutable dta type is string, tuple.

Question 3. What are the main differences between lists and tuples in Python ?

Answer. The main difference between tuple and list is that list is mutable but tuple is immutable . list is represented as [ ], and tuple is represented as ( ).

Question 4.  Describe how dictionaries store data ?

Answer. Dictionaries stores data in key value pairs.
dictionary can be represented as { "key" : "value" } .

Question 5. Why might you use a set instead of a list in Python ?

Answer. sets and list both are used to store data but we use set instead of list due to following reason which is given below.

1. Sets support mathematical operations like union (|), intersection (&), and difference (-), which lists do not have natively.

2. sets stores unique data.

Question 6.  What is a string in Python, and how is it different from a list ?

Answer. String is a data type in python which is used to show data . and list is also a data type . we store data in list but not in string in list we can store string data but in string we can't store list.

Question 7.  How do tuples ensure data integrity in Python ?

Answer. Tuples ensure data integrity in Python by being immutable, meaning their values cannot be changed after creation, preventing accidental modifications. This immutability allows tuples to be used as dictionary keys, ensuring stable key-value mappings, and makes them thread-safe in multi-threaded environments.

Question 8. What is a hash table, and how does it relate to dictionaries in Python ?

Answer. A hash table is a data structure that stores key-value pairs using a hash function to map keys to unique memory locations, allowing for fast data retrieval in O(1) time complexity on average. In Python, the built-in dictionary (dict) is implemented as a hash table, meaning it efficiently stores and retrieves values using hashed keys. When a key-value pair is inserted into a dictionary, Python computes a hash value for the key and determines an index in memory where the value is stored. This enables fast lookups, insertions, and deletions.

Question 9. Can lists contain different data types in Python ?

Answer. yes list can take or contains different type of data types in python.

Question 10. Explain why strings are immutable in Python ?

Answer. string are immutable in python because we can't change or modify the data which we define .

Question 11. What advantages do dictionaries offer over lists for certain tasks ?

Answer. Dictionaries in Python offer significant advantages over lists for specific tasks due to their **hash table-based implementation**, which enables **O(1) average-time complexity** for lookups, compared to **O(n) in lists**. Unlike lists, where elements are accessed by index, dictionaries allow **direct access via meaningful keys**, improving code readability and efficiency. They excel in scenarios requiring **fast searching, structured key-value mappings, and quick modifications** without shifting elements, as lists require. Additionally, dictionaries support **flexible key types**, allowing for more complex data associations, and since Python 3.7, they also **preserve insertion order**, making them versatile for various applications where both speed and structure matter.

Question 12. Describe a scenario where using a tuple would be preferable over a list ?

Answer. A tuple is preferable over a list when you need to store constant, unchangeable data that should remain intact throughout the program. For example, consider a scenario where you are storing GPS coordinates (latitude, longitude) for different cities in a mapping application. Since these coordinates should not change, using a tuple ensures data integrity and prevents accidental modifications. Additionally, tuples are faster and more memory-efficient than lists, making them ideal for large datasets that require quick access.

Question 13.  How do sets handle duplicate values in Python ?

Answer. set handles duplicate value because set is a data type that stores only unique data in python.

Question 14. How does the “in” keyword work differently for lists and dictionaries ?

Answer. The in keyword in Python is used to check membership, but it works differently for lists and dictionaries due to their underlying implementations.

For dictionaries, in checks only the keys, not the values, using a hash table (O(1)) on average, making lookups significantly faster. If a key exists, it returns True instantly.

Thus, in is much faster for dictionaries than lists when checking for keys, making dictionaries ideal for quick lookups.

Question 15. Can you modify the elements of a tuple? Explain why or why not ?

Answer. No, we can't modify the element of a tuple beacause tuple is immutable type of data. which can't be change after implementation.

Question 16. What is a nested dictionary, and give an example of its use case ?

Answer. A nested dictionary is a dictionary where the values themselves are dictionaries, creating a hierarchical structure. This allows you to represent more complex relationships and store multi-level data in a structured way.

In [ ]:
students = {
    "Alice": {
        "age": 16,
        "grade": "10th",
        "subjects": {
            "Math": 95,
            "Science": 89,
            "English": 92
        }
    },
    "Bob": {
        "age": 17,
        "grade": "11th",
        "subjects": {
            "Math": 88,
            "History": 85,
            "Physics": 90
        }
    }
}


print(students["Alice"]["age"])  # Output: 16
print(students["Bob"]["subjects"]["Math"])  # Output: 88

16
88

Question 17. Describe the time complexity of accessing elements in a dictionary ?

Answer. The time complexity of accessing elements in a dictionary in Python is O(1) on average, which means it takes constant time regardless of the number of elements in the dictionary. This is because Python dictionaries are implemented using hash tables, and when you access an element by its key, the key is hashed to determine its memory location, allowing for immediate retrieval.

Question 18. In what situations are lists preferred over dictionaries ?

Answer. Lists are preferred over dictionaries in situations where ordered data or sequential access is important, and you don’t need to associate values with unique keys.

Question 19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Answer. Dictionaries in Python are considered unordered because they are implemented as hash tables, where key-value pairs are stored based on a hash function rather than a fixed sequence. This means that, before Python 3.7, dictionaries did not maintain the order of insertion, and retrieving elements could result in an unpredictable sequence. However, from Python 3.7 onwards, dictionaries preserve the order in which items were added, though they are still not considered fully ordered like lists.

Question 20.  Explain the difference between a list and a dictionary in terms of data retrieval ?

Answer. A **list** is an ordered collection where elements are accessed using numerical indices, enabling **O(1)** retrieval when the index is known. However, searching for a value without an index takes **O(n)** time. In contrast, a **dictionary** stores key-value pairs and retrieves values using keys, offering **O(1)** lookup time due to hashing. Unlike lists, dictionaries do not support positional indexing, but they efficiently handle mappings. Lists are ideal for sequential data, while dictionaries excel in fast lookups and key-based access. Since Python 3.7, dictionaries maintain insertion order, but they remain optimized for retrieval based on keys, not positions.

##Practical Question

In [1]:
# Question 1.  Write a code to create a string with your name and print it ?

name = "harsh sharma"
print(name)

harsh sharma

In [2]:
# Question 2. Write a code to find the length of the string "Hello World" ?

string = "Hello World"
print(len(string))

11

In [3]:
# Question 3. Write a code to slice the first 3 characters from the string "Python Programming" ?

string = "Python Programming"
print(string[0:3])

Pyt

In [4]:
# Question 4. Write a code to convert the string "hello" to uppercase ?

string = "hello"
print(string.upper())

HELLO

In [6]:
# Question 5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [7]:
# Question 6. Write a code to create a list with numbers 1 to 5 and print it ?

list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

In [8]:
# Question 7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [9]:
# Question 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [10]:
# Question 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

list1 = ['a', 'b', 'c', 'd']
list1[1]

'b'

In [11]:
# Question 10. Write a code to reverse the list [10, 20, 30, 40, 50] ?

list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [12]:
# Question 11. Write a code to create a tuple with the elements 100, 200, 300 and print it ?

Tuple = (100, 200, 300)
print(Tuple)

(100, 200, 300)

In [13]:
# Question 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?

Tuple = ('red', 'green', 'blue', 'yellow')
Tuple[-2]

'blue'

In [14]:
# Question 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

Tuple = (10, 20, 5, 15)
print(min(Tuple))

5

In [15]:
# Question 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

Tuple = ('dog', 'cat', 'rabbit')
Tuple.index('cat')

1

In [16]:
# Question 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?

Tuple = ('apple', 'banana', 'orange')
print('kiwi' in Tuple)
# Question 18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?

# Question 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

# Question 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?

# Question 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?

# Question 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

# Question 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

# Question 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

# Question 26. Write a code to create a list, a tuple, and a dictionary, and print them all ?

# Question 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced) ?

# Question 28. Write a code to create a list with strings and print the element at the third index ?

# Question 29. Write a code to combine two dictionaries into one and print the result ?

# Question 30. Write a code to convert a list of strings into a set ?

False

In [17]:
# Question 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it ?

set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [18]:
# Question 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?

set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [19]:
# Question 18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?

set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [20]:
# Question 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
# Question 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

In [22]:
# Question 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?

dic = {"name" : "harsh", "age" : 20, "city" : "delhi"}
print(dic)

{'name': 'harsh', 'age': 20, 'city': 'delhi'}

In [23]:
# Question 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

dic = {'name': 'John', 'age': 25}
dic["country"] = "USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Question 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

dic = {'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [25]:
# Question 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?

dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Question 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

dic = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [27]:
# Question 26. Write a code to create a list, a tuple, and a dictionary, and print them all ?

list1 = [1, 2, 3, 4, 5]
Tuple = (1, 2, 3, 4, 5)
dic = {"name" : "harsh", "age" : 20, "city" : "delhi"}
print(list1)
print(Tuple)
print(dic)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'harsh', 'age': 20, 'city': 'delhi'}

In [29]:
# Question 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced) ?

lis = [99, 228, 69, 40, 5]
lis.sort()
print(lis)

[5, 40, 69, 99, 228]

In [30]:
# Question 28. Write a code to create a list with strings and print the element at the third index ?

list1 = ["harsh", "sharma", "is", "a", "good", "boy"]
print(list1[3])

a

In [35]:
# Question 29. Write a code to combine two dictionaries into one and print the result ?

dic1 = {"name" : "harsh", "age" : 20, "city" : "delhi"}
dic2 = {"name" : "vijay", "age" : 30, "city" : "agra"}
dic3 = dic1.copy()
dic3.update(dic2)
print(dic3)

{'name': 'vijay', 'age': 30, 'city': 'agra'}

In [36]:
# Question 30. Write a code to convert a list of strings into a set ?

list1 = ["harsh", "vijay", "aman", "raju"]
print(set(list1))

{'harsh', 'aman', 'vijay', 'raju'}